<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHarvest</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <main id="app">
        <div class="wrapper">
            <header class="d-flex main-header">
                <div class="logo">
                    <h1>HomeHarvest</h1>
                </div>
                <theme-toggle></theme-toggle>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="header-nav">
                        <button class="nav-link active" id="pantry-tab" data-bs-toggle="tab" data-bs-target="#pantry"
                            type="button" role="tab" aria-controls="home" aria-selected="true"><span>Pantry</span><i
                                class="bi bi-box-seam"></i></button>
                    </li>
                    <li class="nav-item middle-tab" role="header-nav" @click="showAddModal = false">
                        <button class="nav-link middle-tab" id="grocery-tab" data-bs-toggle="tab"
                            data-bs-target="#grocery" type="button" role="tab" aria-controls="profile"
                            aria-selected="false"><span>Grocery
                                List</span><i class="bi bi-basket"></i></button>
                    </li>
                    <li class="nav-item" role="header-nav" @click="showAddModal = false">
                        <button class="nav-link" id="recipes-tab" data-bs-toggle="tab" data-bs-target="#recipes"
                            type="button" role="tab" aria-controls="contact"
                            aria-selected="false"><span>Recipes</span><i class="bi bi-journal-text"></i></button>
                    </li>
                    <span class="nav-indicator"></span>
                </ul>
            </header>
        </div>
        <div class="tab-content" id="myTabContent">
            <!-- PANTRY -->
            <section class="tab-pane show fade active" id="pantry" role="tabpanel" aria-labelledby="pantry-tab">
                <header>
                    <form class="mobile-search" role="search" @submit.prevent>
                        <input type="text" class="form-control ps-5" placeholder="Search" v-model="searchQuery">
                        <i class="bi bi-search"></i>
                    </form>
                    <div class="category-menu-container" ref="categoryMenu">

                        <h2 id="category-title" @click="toggleCategoryDropdown">
                            <i class="bi bi-list"></i>
                            <span>{{ selectedCategory ? selectedCategory.name : 'ALL ITEMS' }}</span>
                        </h2>

                        <ul v-if="showCategoryDropdown" class="dropdown-wrapper category-dropdown">
                            <li v-if="selectedCategory != null" class="dropdown-item" @click="selectCategory(null)">All
                                Items</li>
                            <li v-for="category in categories" :key="category" class="dropdown-item"
                                @click="selectCategory(category)">
                                {{ category.name }}
                            </li>
                        </ul>

                    </div>
                    <button id="addItemBtn" @click="openAddModal('pantry')">
                        <i class="bi bi-plus-lg icon-spin"></i>Item
                    </button>

                    <form class="desktop-search" role="search" @submit.prevent>
                        <input type="text" class="form-control ps-5" placeholder="Search" v-model="searchQuery">
                        <i class="bi bi-search"></i>
                    </form>
                </header>
                <pantry-table :products="pantryTable" :is-mobile="isMobile"
                    @edit="editProduct($event.product, $event.item)" @delete-product="deleteProduct($event)"
                    @delete-item="deleteItem($event.item, $event.product)"
                    @restock-change="updateRestockShoppingList" />
            </section>

            <!-- GROCERY LIST -->
            <section class="tab-pane fade" id="grocery" role="tabpanel" aria-labelledby="grocery-tab">
                <div class="section-content">
                    <shop-section
                        :sorted-by-cat="sortedByCat"
                        :adding-cat="addingCat"
                        :invalid-input="invalidInput"
                        :categories="categories"
                        :filtered-shopping-list="filteredShoppingList"
                        :save-state="saveState"
                        :move-categories="moveCategories"
                        :selected-category-move="selectedCategoryMove"
                        :confirm-visible="confirmVisible"
                        :confirm-label="confirmLabel"
                        :selected-category-grocery="selectedCategoryGrocery"
                        :is-desktop="isDesktop"
                        :is-mobile="isMobile"
                        :has-bought="boughtItems.length > 0"
                        :units="units"
                        @check-all="checkAllMethod"
                        @add-category="addCategoryShop()"
                        @change-save-state="changeSaveState($event)"
                        @update-move-category="updateMoveCat($event)"
                        @run-action="runActionAndReset"
                        @select-category="selectCategoryGrocery($event)"
                        @end-adding-cat="endAddingCat($event.category, $event.index)"
                        @edit-category="selectedCategoryGrocery = $event; editCategoryName = $event.name"
                        @reorder-categories="categories = $event"
                        @qty-increase="increaseQty($event)"
                        @qty-decrease="lowerQty($event)"
                        @update-expiration="updateExpiration($event)"
                        @add-to-pantry="addBoughtToPantry"
                        @update:selected-category-grocery="selectedCategoryGrocery = $event"
                        @add-item="openAddModal('grocery')">
                    </shop-section>

                </div>
            </section>
            <!-- RECIPES -->
            <section class="tab-pane fade" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
                <div class="container">
                    <header>
                        <h3>Recipes</h3>
                        <div class="filter-group">
                            <button class="tag selected">Expiring Soon</button>
                            <button class="tag">Large Qty</button>
                            <button class="tag">Healthy</button>
                            <button class="tag">Dairy-free</button>
                            <button class="tag">Vegetarian</button>
                        </div>

                        <div id="recipe-menu">
                            <h4 class="recipe-link" data-recipe="Apple Cinnamon Oatmeal">#1. Apple Cinnamon Oatmeal
                            </h4>
                            <h4 class="recipe-link" data-recipe="Apple Pancakes">#2. Apple Pancakes</h4>
                            <h4 class="recipe-link" data-recipe="Baked Apples with Cream">#3. Baked Apples with
                                Cream</h4>
                            <h4 class="recipe-link" data-recipe="Apple Smoothie">#4. Apple Smoothie</h4>
                            <h4 class="recipe-link" data-recipe="Apple Custard / Bread Pudding">#5. Apple Custard /
                                Bread Pudding</h4>
                        </div>

                    </header>
                    <div id="recipe-display-area">

                    </div>

                </div>
            </section>
        </div>

        <!-- MODALS -->
        <edit-item-modal :item-to-edit="itemToEdit" :product-of-edit-item="productOfEditItem" :categories="categories"
            :units="units" @category-changed="categoryChanged($event.item, $event.product)"
            @name-changed="stopEditingName($event.item, $event.product)">
            </edit-item-modal>
        <div class="modal fade" id="editCatModal" tabindex="-1" aria-labelledby="editCategory" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="row">
                        <label for="cat-name" class="col-10">Name</label>
                        <div class="col-30 delete-cat"><button @click="deleteCategory" data-bs-dismiss="modal">delete
                                category</button></div>
                    </div>
                    <input type="text" id="cat-name" v-model="editCategoryName">
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-primary border-0" data-bs-dismiss="modal" id="editCatSave"
                            @click="saveCategory"><i class="bi bi-floppy"></i> Save</button>
                    </div>
                </div>

            </div>
        </div>
        <add-item-modal :modal-mode="modalMode" :categories="categories" :default-category="defaultCategory"
            :show="showAddModal" @close="showAddModal = false" @submit="handleAddItem">
        </add-item-modal>
    </main>
    <script src="https://code.jquery.com/jquery-4.0.0.js"
        integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vue Application -->
    <script type="module">
        // create the app
        import app from './js/app.js';

        // tell it to run on the div #app
        app.mount('#app');

    </script>
</body>

</html>